body{
    font-family: 'Berlin sans FB','Trebuchet MS', Arial;
    }
.size{
    font-size:40px;
}
.colorBlueLight{
    color: #1490D7;
}
.colorBlueDark{
    color: #283645;
}
.colorOrange{
    color: #FF8000;
}
.colorWhite{
    color:#ffffff;
}
.text-center{
    text-align:center;
}
h2{
    margin:30px 0px;
    padding: 0px;
    border-bottom: 1px solid #1490D7;
}



/**
**Ma partie header
**
*/
.header{
    display:flex;
    align-items: center;
    text-align: center;
}
.header .photoPerso ; .header .infoPerso {
    width: 33.3%;
}
.header .posteRecherche{
    flex: auto;
}
.header .infoPerso{
    width: 33.3%;
}
.header .photoPerso img{
    height: 200px;
}
/***
***Fin du header
***
***/
.footer{
    padding: 10px;
}
/**
**Debut du corps
**
**/
.corps{
    padding: 0% 2%;
}

/**
**fin du corps
**
**/

/**
*Debut footer
**
/
