body{
    font-family: 'Berlin sans FB','Trebuchet MS', Arial;
    }
.size{
    font-size:40px;
}
.colorBlueLight{
    color: #1490D7;
}
.colorBlueDark{
    color: #283645;
}
.colorOrange{
    color: #FF8000;
}
.colorWhite{
    color:#ffffff;
}
.text-center{
    text-align:center;
}
h2{
    margin:30px 0px;
    padding: 0px;
    }
.borderBottomDark{
    border-bottom: 1px solid #1490D7;
}

.size40{
    font-size:40px;
}
.size20{
    font-size:20px;
}
.gauche{
    float:left;
}
.clear{
    clear:both;
}
.col1{
    width:20%;
    background-color:white;
}
.col2{
    width:80%;
    background-color:white;
}



/**
**Ma partie header
**
*/
.header{
    display: flex;
    align-items: center;
    text-align: center;
}
.header .photoPerso ; .header .infoPerso {
    width: 33.3%;
}
.header .posteRecherche{
    flex: auto;
}
.header .infoPerso{
    width: 33.3%;
}
.header .photoPerso img{
    height: 200px;
}
/***
***Fin du header
***
***/
.footer{
    padding: 10px;
    margin-top:50px;
}
/**
**Debut du corps
**
**/
.corps{
    padding: 0% 2%;
}
.domaine table{
    width:100%;
}
.domaine table td{
    padding:10px 20px;
    border:1px solid #1490D7;
    width:33%;
}


/**
**fin du corps
**
**/

/**
*Debut footer
**
/
