nav{
    background-color: #2f3542;
}
nav ul{
    margin:0;
    padding:0;
    display:flex;
}
nav li{
    list-style-type: none;
    text-align: center;
    width: 33.3%;
}
nav a{
    color: white;
    padding: 20px 30px;
    text-transform: uppercase;
    text-decoration: none;
}
nav li:hover{
    padding: 15px 30px 20px 30px;
}
.menuInfo:hover{
    background-color: #1B9CFC;
    border-top:solid #FC427B;
}
.menuExperience:hover{
    background-color: #1B9CFC;
    border-top:solid #FC427B;
}
.menuContact:hover{
    background-color: #1B9CFC;
    border-top:solid #FC427B;
}